@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>clinic managment system</h1>
    <img src="~/Content/headaches-doctor.jpg" />
    <p class="lead">Welcom to clinic managment system</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>